name: Genera Documentazione Doxygen

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Installa Doxygen
        run: |
          sudo apt-get update
          sudo apt-get install -y doxygen
      
      - name: Genera documentazione
        run: |
          doxygen docs/Doxyfile
          # Vediamo dove sono finiti i file (per debug nei log)
          ls -R docs/

      - name: Pubblica su GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Proviamo a pubblicare TUTTA la cartella docs per essere sicuri
          publish_dir: ./docs/html
          publish_branch: gh-pages
          force_orphan: true